p.txtoverlay {
  background-color: #ffc;
  font-size: 28px;
  border: 2px solid #666;
  padding: 10px 15px;
  position: absolute;
  z-index: 100;
}

#slideme {
  background-image: url(../img/01_intro/photo1.jpg);
  background-size: cover;
}

#slideme .txtoverlay {
  right: 0;
  bottom: 40px;
  border-right: 0;
  border-radius: 5px 0 0 5px;
}

.hidden {
  visibility: hidden;
}