/**
 * Styles supplement for index page  
 *
 * @Author by Rogier van der Linde
 */

/* table dimensions */

#tblHistory table {
  margin: 0 auto;
}

#tblHistory tbody {
  width: 774px;
  height: 370px;
}

#tblHistory th, #tblHistory td {
  width: 50px;
}

#tblCritical {
  margin-top: 20px;
  margin-bottom: 20px;
}

#tblCritical th, #tblCritical td{
  width: 200px;
}

#slidequake {
  text-align: center;
}

#slidequake video {
  margin-top: 50px;
}

#slideclassic .images {
  margin-bottom: 10px;
}

#slideclassic img {
  display: inline;
  vertical-align: middle;
  border: 0;
}

#slideclassic #arrow {
  width: 150px;
  margin: 0 20px;
}

#slideflash #flash {
  position: absolute;
  left: 85px;
  top: 165px;
  border: 0;
}

#slideflash .arrow {
  position: absolute;
  left: 330px;
  top: 250px;
  width: 200px;
  border: 0;
  z-index: 10;
}

#slideflash #html5 {
  position: absolute;
  right: 80px;
  top: 195px;
  border: 0;
}

#slideblender {
  text-align: center;
}

.comparevideo .video {
  float: left;
  width: 300px;
  margin: 20px 20px 0 0;
}

.comparevideo .video .caption {
  font-size: 14px;
  margin: 0;
  font-style: italic;
  padding: 0;
  line-height: 14px;
}

.comparefigure {
  margin-top: 10px;
}

.comparefigure img {
  width: 45%;
}


